
.cookies {
    position: fixed;
    bottom: 0;
    right: 0;
    text-align: center;
    font-size: 1.5rem;
    font-weight:lighter;
    background-color: rgba(6, 0, 58, 0.315);
    padding: 16px;
    box-sizing: border-box;
    display: inline-block;
}

.buttons {
    text-decoration: underline;
    cursor: pointer;
    padding-left: 10px;
}

.yes {
    font-weight: 900;
}

.buttons:hover {
    color: rgba(0, 255, 0, 1);
}
