$color-dark: black;
$color-light: rgba(255, 255, 255, 0.897);
$color-primary: rgb(200, 255, 0);
$color-background: linear-gradient(28deg, rgba(247, 255, 198, 0.984) 0%, rgba(248, 169, 255, 0.409) 51%, rgb(182, 122, 255) 100%);

$size-rem: 16px;
$size: 300px;

$breakpoint-tablet: 768px;
$breakpoint-mob: 480px;