@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

html { font-size: 16px; } /* 1rem je 16px, mjerna jedinica*/
body {font-size: 1rem; 
    font-family: 'Quicksand', sans-serif;
    color: red;
}
.p, p {
    font-size: 2rem;
    font-weight: 300;
    color: rgb(86, 72, 209);
    line-height: 2.5rem;
}

.h6, h6 {
    font-size: 1rem;
    font-weight: 400;
    color: rgb(233, 172, 248);
}

.h5, h5 {
    font-size: 1.33rem;
    font-weight: 500;
    color: rgb(104, 61, 189);
}

.h4, h4 {
    font-size: 1.66rem;
    font-weight: 600;
    color: rgb(169, 85, 248);
}
h3, .h3 {
    font-size: 2rem;
    font-weight: 600;
    font-style: italic;
}
.h2, h2 {
    font-size: 2.33rem;
    font-weight: 600;
    font-variant-caps: all-petite-caps;
}

.h1, h1 {
    font-size: 2.66rem;
    font-weight: 600;
    color: palevioletred;
}


.text-align-left {text-align: left;}

.text-align-right {text-align: right;}

.text-align-center {text-align: center;}

.text-align-justify {text-align: justify;}

.link {
    text-decoration-line: underline
}

/*vrijednosti: X, Y, BLUR, */
.fancy {
    text-shadow:
    2px 2px 2px rgba(255, 0, 0, 1),
    4px 4px 2px rgba(255, 255, 0, 1),
    6px 6px 2px rgba(38, 0, 255, 1);
}

.h7 {
    font-size: 10rem;
    font-weight: 900;
    color: white;
}

.fancy2 {
    text-shadow:
    2px 2px 2px rgb(255, 0, 0),
    2px -2px 2px rgb(0, 17, 255),
    -2px -2px 2px rgb(255, 255, 0),
    -2px 2px 2px rgba(0, 255, 0, 1)
    ;
}

