@import "./Styles/utilities/_index";
@import "./Styles/base/_index";
@import "./Styles/components/_index";

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

html { font-size: $size-rem } /* 1rem je 16px, mjerna jedinica*/
body {font-size: 1rem; 
    font-family: 'Quicksand', sans-serif;
    color: red;
    background-color: RGBA(199, 255, 221, 0.5);
    background: linear-gradient(28deg, rgba(219,255,0,0.9836309523809523) 0%, rgba(238,95,250,0.40940126050420167) 51%, rgba(115,0,255,1) 100%);
/*   
    background-image: url("BCKG.webp");
    background-repeat: repeat-y;
    background-size: 100px;
    background-position: top right; */
}
/*highliter na slovima unutar teksta sa <span class="">*/
.highlight {
    background-color: rgba(255, 255, 0, 0.5);
}

.Wrapper {
    max-width: 2048px;
    width: 100%;
    margin: auto;
    padding: 0 16px;
    box-sizing: border-box;
}

@media screen and (max-width: 768px) {
    .Wrapper {
    width: 240px;
    height: 240px;
}
}

.fancy_link_button {
    box-sizing: border-box;
    display: inline-block;
    border: 4px solid black;
}

